.DS_Store
macsj0717-fil.aux
macsj0717-fil.blg
macsj0717-fil.log
macsj0717-fil.out
macsj0717-fil.synctex.gz
macsj0717-filNotes.bib
plots/__pycache__/
plots/core_sx_circ.reg
plots/core_sx_ell.reg
plots/flythrough-regions.pdf
plots/flythrough.reg
plots/group-sx-profiles.reg
plots/macsj0717-bars.pdf
plots/macsj0717-skybkg.pdf
plots/macsj0717_core_circ.pdf
plots/macsj0717_core_ell.pdf
plots/sx.pyc
code/__pycache__/
code/notebooks/.ipynb_checkpoints/
